adf_resources/pipeline/landingzone_bronze.json
{
	"name": "landingzone_bronze",
	"properties": {
		"description": "Pipeline for loading data to the Lakehouse",
		"activities": [
			{
				"name": "LKP_Dynamic_Control_Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "SELECT * FROM control.control_process WHERE process_level_id = 2"
					},
					"dataset": {
						"referenceName": "ds_delta_control_process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Dynamic_Control_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Dynamic_Control_Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "execute",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/matheus.domingos@live.com/northwind-lakehouse/databricks_resources/1_bronze/dynamic_ladingzone_bronze",
								"baseParameters": {
									"process_source_name": "@item().process_source_name"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_northwind_databricks_notebook",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_notebook_path": "/Repos/matheus.domingos@live.com/northwind-lakehouse/databricks_resources/1_bronze/dynamic_landingzone_bronze"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}