adf_resources/pipeline/source_raw.json
{
	"name": "source_raw",
	"properties": {
		"description": "Pipeling for ingesting Northwind data to raw layer.",
		"activities": [
			{
				"name": "LKP_Dynamic_Control_Table",
				"description": "Lookup for retrieving source to lading zone pipelines",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "SELECT * FROM control.control_process WHERE process_level_id = 1"
					},
					"dataset": {
						"referenceName": "ds_delta_control_process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Dynamic_Control_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Dynamic_Control_Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "northwind_to_landingzone",
							"description": "Copy data from AWS RDS Northwind database to Ladingzone layer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@item().process_query_overwrite",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "rds_northwind",
									"type": "DatasetReference",
									"parameters": {
										"process_source_location": "@item().process_source_location"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_target_landingzone",
									"type": "DatasetReference",
									"parameters": {
										"process_target_container": {
											"value": "@item().process_target_container",
											"type": "Expression"
										},
										"process_target_location": "@item().process_target_location",
										"process_target_name": "@item().process_source_name"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}