adf_resources/pipeline/source_raw.json
{
	"name": "source_raw",
	"properties": {
		"description": "Pipeling for ingesting Northwind data to raw layer",
		"activities": [
			{
				"name": "Lookup Raw",
				"description": "Lookup for retrieving raw pipelines",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "SELECT * FROM control.control_process WHERE process_level_id = 1"
					},
					"dataset": {
						"referenceName": "AzureDatabricksDeltaLakeDataset1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Northwind to Raw",
							"description": "Copy data from AWS RDS Northwind database to Raw layer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": "@item().process_source_location"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "rds_northwind",
									"type": "DatasetReference",
									"parameters": {
										"process_source_location": "@item().process_source_location"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}